.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-container>div {
	width: 25%;

}

.flex-container i{
	font-size: 40px;
	padding-bottom: 10px;
	color: white;
}

input[type=submit]{
	margin-top: 5px;
}

.fut li,p {
	padding: 10px;
}
.fut h4 {
	padding-bottom:15px;
}

.fut .testo, li{
	font-size: 18px;
	color: #00adb5;
}