body{
    font-family: 'Lato', sans-serif;
}
main{
    padding-top: 10vh;
    background-color: #393e46;
}

nav{
    position: fixed;
    background-color: #222831;
    color: #00adb5;
}

footer{
    background-color: #222831;
}

.carousel{
    padding-top: -10vh;
    height: 307px;
}

.page-footer{
    background-color: #222831 !important;
    color: #00adb5 !important;
}
