.title-qveo{
    color: #00adb5;
    margin-left: 2rem;
    font-weight: bold;
    font-size: xx-large;
}

.icon-user{
    width: 3.1rem;
    margin-top: 0.5rem;
}

.icon-user-sidenav{
    margin: 5vh 0vh 3vh 8vh;
    width: 6rem;
}

.sidenav{
    background-color: #393e46;

}

.sidenav li > a{
    color: white;
}

a:hover{
    color: #00adb5 ;
}

.mostrar-ocultar{
	display: none;
}

input {
	color: #eeeeee;
	border-bottom: 1px solid #eeeeee !important;
	padding: 0 !important;
	margin: 5px 0 !important;
	width: 25px;
}

.input-field .clear{
	opacity: 0;
	margin: 15px 0 0 0;
    float: right;
    position: relative;
    top: -55px;
    transition: opacity 0.2s linear
}

.icon-user{
	background: #eeeeee;
}
