html {
	height: 100%;
}


main {
	height: 79.3% !important;
	margin-bottom: 0 !important;
}

.row img{
	width: 100%;
}


/* .card { */
/* 	position: absolute; */
/* 	left: 50%; */
/* 	top: 50%; */
/* 	-moz-transform: translate(-50%, -50%) -webkit-transform: translate(-50%, -50%) */
/* 		-ms-transform: translate(-50%, -50%) -o-transform: translate(-50%, -50%) */
/* 		transform: translate(-50%, -50%); */
/* } */