.bottom-sheet{
	padding-bottom: 0 !important;
}

.imagen-modal {
	width: auto !important;
	height: -webkit-fill-available !important;
 	margin-bottom: 1rem;
}

.modal-content {
/* 	display: flex; */
	background-color: #393e46;
}

.modal .modal-content {
	overflow: hidden !important;
}

.titulo-principal {
	color: white;
	font-size: 1.7rem;
	margin: -0.4rem 0 0.4rem 0;
}

.titulo {
	color: #00adb5;
	font-weight: bold;
	font-size: 1.7rem;
	margin: -0.4rem 0 0.4rem 0;
}

.contenido {
	color: white;
	font-size: 1.3rem;
	margin: -0.4rem 0 0.4rem 0;
}

.responsive {
	width: 100%;
}
.boton-ver{
	background: #00adb5;
	margin-top: 10px;
}

.container {
	width: 95% !important;
}

.sinopsis{
	font-size: initial !important;
}

@media only screen and (max-width: 768px) {
	.responsive {
		width: 50%;
	}

	.modal.bottom-sheet{
		overflow: auto;
	}

	.imagen-modal{
		width: 25vw !important;
		height: auto !important;
	}
}

@media only screen and (max-width: 600px) {
	.imagen-modal {
		width: auto !important;
		height: -webkit-fill-available !important;
		margin: auto;
		display: block;
	}
}
.boton-agregar{
	background: #00adb5;
}

.boton-agregar:hover{
opacity: 0.9 !important;
	color: #eeeeee !important;
}

.boton-eliminar{
	background: #d92027;
}

.boton-eliminar:hover{
	opacity: 0.9 !important;
	color: #eeeeee !important;
}
div a{
	margin-bottom: 10px !important;
}



