@media only screen and (max-width: 700px){
.imagen-modal{
    width: 20rem;
    display: block;
    margin: auto;
}
}
.imagen-modal {
    width: 16rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal-content{
    display: flex;
    background-color: #393e46;
}

.modal .modal-content{
    overflow: hidden !important;
}

.flexbox{
    margin: 1rem;
}
.titulo-principal{
    color: white;
    font-size: 1.7rem;
    margin: -0.4rem 0 0.4rem 0;
}
.titulo{
    color: #00adb5;
    font-weight: bold;
    font-size: 1.7rem;
    margin: -0.4rem 0 0.4rem 0;
}
.contenido{
    color: white;
    font-size: 1.3rem;
    margin: -0.4rem 0 0.4rem 0;
}




