
#titulo{
	color:#00adb5;
}
.izq{
	margin-left:30%;
	margin-top:12%
}
.derecha{
	float: right;
}
p{
	color:white;
}

h2 {
    text-align: center;
}

.fechaInicio {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.genero {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1em;
}

body * {
    box-sizing: border-box;
}

ul li {
    display: inline;
    padding: 5px;  
}

li{
	 color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    display: inline-block;
}
