.boton-agregar{
	background: #00adb5;
}

.boton-agregar:hover{
opacity: 0.9 !important;
	color: #eeeeee !important;
}

.boton-eliminar{
	background: #d92027;
}

.boton-eliminar:hover{
	opacity: 0.9 !important;
	color: #eeeeee !important;
}

.btn-oculto{
	display:none;
}