
ul li {
	display: inline;
	padding: 5px;
}

.input-field>label {
	color: white !important;
	font-size: 1vw;
}

.formato {
	color: white;
	font-size: 1vw;
}
main{
	height:79.3% !important;
}

.boton-Foto {
	width: 40%;
}

textarea {
	height: 85px;
}

@media only screen and (max-width: 768px) {
	.responsive {
		width: 80%;
		height: 70%;
	}
	.input-field>label {
		color: white;
		font-size: 5vw;
	}
	.formato {
		color: white;
		font-size: 5vw;
	}
	.especial {
		color: white;
		font-size: 5vw;
	}
	textarea {
		height: 187px;
	}
}

@media only screen and (max-width: 992px) {
	/* For mobile phones: */
	.input-field>label {
		color: white;
		font-size: 3vw;
	}
	.formato {
		color: white;
		font-size: 3vw;
	}
	.especial {
		color: white;
		font-size: 3vw;
	}
	.fotoLista {
		width: 100%;
	}
}