.fechaInicio {
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

body * {
	box-sizing: border-box;
}

ul li {
	display: inline;
	padding: 5px;
}

.input-field>label {
	color: white;
	font-size: 1.4em;
}

.formato {
	color: white;
	font-size: 1.4em;
}

.especial {
	color: white;
	font-size: 1.4em;
}
input{
	font-size: 1.1em !important;
}
.responsive {
	width: 100%;
}

.boton-Foto {
	width: 40%;
}

textarea {
	height: 85px;
}

.boton-agregar{
	background: #00adb5;
}

.boton-agregar:hover{
opacity: 0.9 !important;
	color: #eeeeee !important;
}

.boton-eliminar{
	background: #d92027;
}

.boton-eliminar:hover{
	opacity: 0.9 !important;
	color: #eeeeee !important;
}

.btn-oculto{
	display:none;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.chips .chip {
		font-size: 2vw;
	}
	.responsive {
		width: 80%;
		height: 70%;
	}
	.input-field>label {
		color: white;
		font-size: 1.5em;
	}
	.formato {
		color: white;
		font-size: 1.4em;
	}
	.especial {
		color: white;
		font-size: 1.4em;
	}
	textarea {
		height: 187px;
	}
}
@media only screen and (max-width: 992px) {
	/* For mobile phones: */
	.chips .chip {
		font-size: 2vw;
	}
	.responsive {
		width: 80%;
		height: 70%;
	}
	.input-field>label {
		color: white;
		font-size: 1.4em;
	}
	.formato {
		color: white;
		font-size: 1.4em;
	}
	input{
	font-size: 1.1em;
	}
	.especial {
		color: white;
		font-size: 1.4em;
	}
	textarea {
		height: 187px;
	}
}

