input {
	color: #eeeeee;
}

span {
	color: #eeeeee;
}

label {
	color: #eeeeee;
}

.error{
	color: #ff0000;
}

/* label color */
.input-field label {
	color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus+label {
	color: #000;
}

.input-field input[type="text"][disabled]{
	color: #eeeeee;
}