.cabeceras, .cuerpo {
	margin: 0 !important;
	padding: 5px 0;
	font-size: 25px;
	text-align: left;
}

.cabeceras {
	font-weight: bold;
	background-color: #00adb5;
}

.cuerpo {
	background-color: #eeeeee;
	border-bottom: 1px solid #fff;
}
main{
	height:79.3%;
}
.cuerpo:hover{
	background-color: #ddd;
}

.material-icons {
	font-size: 40px !important;
}

.row .boton {
	padding: 10px 0;
}

.opciones {
	margin: 0 !important;
}

.input-field>label {
	color: white;
	font-size: 1vw;
	font-weight: bold;
}

.formato {
	color: white;
	font-size: 1vw;
}

.especial {
	color: white;
	font-size: 1vw;
}

.boton-Foto {
	width: 40%;
}

.fotoLista {
	width: 50%;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.input-field>label {
		color: white;
		font-size: 4vw;
	}
	.formato {
		color: white;
		font-size: 4vw;
	}
	.especial {
		color: white;
		font-size: 4vw;
	}
	.fotoLista {
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	/* For mobile phones: */
	.input-field>label {
		color: white;
		font-size: 2vw;
	}
	.formato {
		color: white;
		font-size: 2vw;
	}
	.especial {
		color: white;
		font-size: 2vw;
	}
	.fotoLista {
		width: 100%;
	}
}