ul li {
	display: inline;
	padding: 3px;
}

.responsive {
	margin-left: 20%;
	height: 30%;
	margin-bottom: 10%;
}

.responsiveP {
/* 	width: 100%; */
	margin-left: 20%;
	height: 200px;
	margin-bottom: 10%;
}

.formato {
	color: #00adb5;
	font-size: 2em;
}

#formatoSpan {
	color: #00adb5;
	font-size: 2em;
}

input[type="radio"]+span {
	font-size: 2em;
}

@media only screen and (max-width: 768px) {
	.responsive {
		height: 30%;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	.responsiveP {
 		width: auto; 
		height: 190px;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	
	.formato {
		font-size: 2em;
	}
	#formatoSpan {
		font-size: 2em;
	}
}
@media only screen and (max-width: 600px) {
	.responsiveP {
		height: 150px;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	}
@media only screen and (min-width: 796px) and (max-width: 992px) {
	.responsive {
		height: 30%;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	.responsiveP {
 		width: auto; 
		height: 240px;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	.formato {
		font-size: 2em;
	}
	#formatoSpan {
		font-size: 2em;
	}
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
	.responsive {
		height: 20%;
		margin-bottom: 10%;
	}
	.responsiveP {
/* 		width: 80%; */
		height: 100%;
		margin-left: 20%;
		margin-bottom: 10%;
	}
	}