ul li {
	display: inline;
	padding: 3px;
}

.responsive {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.responsive {
		width: 80%;
		height: 70%;
	}
}

@media only screen and (max-width: 992px) {
	.responsive {
		width: 80%;
		height: 70%;
	}
}